parameters:
    level: 4
    paths:
        - auth-backend
        - config
        - routes
        - src
    ignoreErrors:
        -
         path: config/*
         identifier: larastan.noEnvCallsOutsideOfConfig
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
